<div id="wrapper">
    <div id="pagepiling">
        <div class="page-section" id="section-one">
            <header class="fheader">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="widget pull-left clearfix">
                                <div class="terminal">>></div>
                            </div><!-- end widget -->
                            <div class="widget pull-left clearfix">
                                <div class="main-title line-1 anim-typewriter"></div>
                            </div><!-- end widget -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </header><!-- end header -->
            <div class="landing-image">
                <img class="object-fit_contain" src="https://upload-assets.vice.com/files/2016/03/12/14578219652016_01_23_cloud_computing.gif">
            </div>
        </div> <!-- page-section -->
        <div class="page-section" id="section-two">
            <div id="main-wrap">
                <div id="about">
                    <a href="#" class="nav-link">About me</a>
                    <div class="inner">
                        <div class="profile">
                            <img src="<%= asset_path( 'profilepic.png' ) %>" />
                        </div>
                        <h1>
                            Arturo Perez
                            <small>Software Engineer</small>
                        </h1>
                        <div class="divider"></div>
                        <p>
                            I like to build stuff, but mostly break them :)
                        </p>
                        <div class="divider"></div>
                        <button>Download Resume</button>
                    </div>
                </div><!-- #about -->

                <div id="gallery" class="gallery3d">
                    <ul id="images" class="gallery3d-items">
                        <li
                            data-title="The Hufts"
                            data-src="<%= asset_path( 'aboutthehufts.png' ) %>"
                            data-preview="<%= asset_path( 'aboutthehufts.png' ) %>"
                            data-thumb="<%= asset_path( 'aboutthehufts.png' ) %>"
                        ></li>
                        <li
                            data-title="Beleza Agency"
                            data-src="<%= asset_path( 'beleza-landing-page.png' ) %>"
                            data-preview="<%= asset_path( 'beleza-landing-page.png' ) %>"
                            data-thumb="<%= asset_path( 'beleza-landing-page.png' ) %>"
                        ></li>
                        <li
                            data-title="Notester"
                            data-src="<%= asset_path( 'notester.png' ) %>"
                            data-preview="<%= asset_path( 'notester.png' ) %>"
                            data-thumb="<%= asset_path( 'notester.png' ) %>"
                        ></li>
                        <li
                            data-title="B.A.C.E."
                            data-src="<%= asset_path( 'baceform.png' ) %>"
                            data-preview="<%= asset_path( 'baceform.png' ) %>"
                            data-thumb="<%= asset_path( 'baceform.png' ) %>"
                        ></li>
                        <li
                            data-title="Chat DBC"
                            data-src="<%= asset_path( 'chatdbc.png' ) %>"
                            data-preview="<%= asset_path( 'chatdbc.png' ) %>"
                            data-thumb="<%= asset_path( 'chatdbc.png' ) %>"
                        ></li>
                        <li
                            data-title="Departure Times"
                            data-src="<%= asset_path( 'caltrain.png' ) %>"
                            data-preview="<%= asset_path( 'caltrain.png' ) %>"
                            data-thumb="<%= asset_path( 'caltrain.png' ) %>"
                        ></li>
                        <li
                            data-title="Calculator"
                            data-src="<%= asset_path( 'calc.png' ) %>"
                            data-preview="<%= asset_path( 'calc.png' ) %>"
                            data-thumb="<%= asset_path( 'calc.png' ) %>"
                        ></li>
                        <li
                            data-title="Javascript Racer"
                            data-src="<%= asset_path( 'JSracer.png' ) %>"
                            data-preview="<%= asset_path( 'JSracer.png' ) %>"
                            data-thumb="<%= asset_path( 'JSracer.png' ) %>"
                        ></li>
                    </ul>
            </div> <!-- #main wrap -->
        </div> <!-- .page-section -->
    </div> <!-- .page-piling -->
</div> <!-- .wrapper -->
