  <div id="wrapper">
      <header class="fheader">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="widget pull-right clearfix">
                          <div class="p-menu">
                              <span><a id="aboutLink" href="#about">About</a></span>
                              <span><a id="projectsLink"href="#projects">Projects</a></span>
                              <span><a id="contactLink" href="#contact">Contact</a></span>
                              <span><a href="<%= asset_path( 'ArturoPerezResume.pdf' ) %>">Resume</a></span>
                          </div><!-- end custom-menu -->
                      </div><!-- end widget -->
                  </div><!-- end col -->
              </div><!-- end row -->
          </div><!-- end container -->
      </header><!-- end header -->

      <section class="meta-wrapper max-height section-parallax" style="background-image: url(http://i.imgur.com/U1e709r.jpg);" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="0" alt="Vrturo.io">
          <div id="page_header">
              <div class="container text-center">
                  <div id="large-header" class="large-header">
                      <div class="message">
                        <h1 class="main-title">Arturo Perez</h1>
                        <p class="mini-title">Welcome to the Arturo's <span>Portfolio</span></p>
                      </div>
                  </div>
              </div>
          </div><!-- end page_header -->
      </section><!-- end section -->
      <br><br>
      <!-- start builder -->
      <section id="about"class="full-image-section clearfix">
                <div class="pull-left image-container col-lg-4 clearfix">
                  <div class="background-image-wrapper wow slideInUp animated" style="visibility: visible; animation-name: slideInUp;">
                        <img class="background-image" alt="" src="<%= asset_path( 'profilepic.png' ) %>" />
                  </div>
                </div>
                  <div class="container">
                      <div class="row-fluid">
                              <div class="row">
                                  <div class="col-lg-offset-6">
                                        <div class="mini-title">
                                          <div>
                                            <h2>Arturo<span>Perez</span></h2>
                                        </div>
                                          <div class="service-style-1 clearfix">
                                              <div class="title">
                                                  <h3> About ME</h3>
                                                  <p style="color: black">I think value is one of my favorite words in the English language. Most nights I find myself planning my next day through the lens of value. As a software engineer, I provide value for clients through collaboration, design, development, and a routine morning of focused deep learning. </p>
                                              </div><!-- end desctip -->
                                          </div><!-- end service-style-1 -->
                                  </div><!-- end col -->
                              </div><!-- end row -->
                          </div><!-- end col -->
                </div><!-- end container -->
            </div><!-- end row -->
        </section><!-- end section white -->
        <br><br>

        <section id="projects" syle="background: black"class="page-white bgpatttern clearfix">
          <div class="section-title">
              <h3>Recent Projects</h3>
              <h4 style="color: #03acdc">See the source code on Github/Visit the Application's Website</h4>
          </div><!-- end section title -->
      </section><!-- end section white -->

      <section class="logos-section">
            <h3 style="text-align:center">Technologies:</h3>
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'html5.png' ) %>" alt="" class="img-responsive">
                        <small>HTML5</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'css3.png' ) %>" alt="" class="img-responsive">
                        <small>CSS3</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'ruby_rough.png' ) %>" alt="" class="img-responsive">
                        <small>Ruby</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'javascript.png' ) %>" alt="" class="img-responsive">
                        <small>Javascript</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'ror.png' ) %>" alt="" class="img-responsive">
                        <small>Ruby on Rails</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'nodejs.png' ) %>" alt="" class="img-responsive">
                        <small>Node.js</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'npm.png' ) %>" alt="" class="img-responsive">
                        <small>npm</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'mongodb.png' ) %>" alt="" class="img-responsive">
                        <small>MongoDB</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'react.png' ) %>" alt="" class="img-responsive">
                        <small>React</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'bootstrap.png' ) %>" alt="" class="img-responsive">
                        <small>Bootstrap</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'firebase.png' ) %>" alt="" class="img-responsive">
                        <small>Firebase</small>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <img src="<%= asset_path( 'heroku.png' ) %>" alt="" class="img-responsive">
                        <small>Heroku</small>
                    </div>
                </div>
            </div>
        </section><!-- end logos-section -->
        <div class="blog-container">
          <div id="blog-page" class="row clearfix" style="margin-left:0;margin-right:0;">
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn first animated" style="visibility: visible; animation-name: fadeIn;">
              <div class="blog-item">
                <div class="ImageWrapper">
                  <img src="<%= asset_path( 'beleza-landing-page.png' ) %>" alt="" class="img-responsive">
                  <div class="ImageOverlayLi"></div>
                  <div class="Buttons StyleH">
                      <a href="https://github.com/vrturo/belezaagency" title="Github Link"><span class="bubble border-radius"><i class="fa fa-lg fa-github-alt"></i></span></a>
                      <a href="http://www.belezaagency.com" title="Application Link"><span class="bubble border-radius"><i class="fa fa-lg fa-link"></i></span></a>
                  </div>
                </div>
                <div class="meta">
                    <span style="color:#03acdc">Software Engineer</span> <span>| 2016</span>
                </div><!-- end meta -->
                <div class="blog-title">
                    <h3><a href="#" title="">Beleza Agency</a></h3>
                </div><!-- end title -->
                <div class="blog-desc">
                    <p>Beleza Agency is an agency that helps their promotion model's get contract work from their clients. For Beleza Agenzy I designed and architected the UI/UX of the company's web application using JavaScript, HTML5, CSS3 and Bootstrap. I allowed users to upload photos and incorporated AWS S3 buckets with endpoints to render image files, engineered PostgreSQL DB schema with ActiveRecord to handle models with 40+ attributes, persisted 400+ listing images for all users in AWS S3 and deployed web application and assets to AWS EC2, and built out an administrator view using JavaScript to establish which users had access to admin privileges.</p>
                </div><!-- end desc -->
              </div><!-- end blog -->
            </div> <!-- end col -->
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn last animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="blog-item">
                    <div class="ImageWrapper">
                      <img src="<%= asset_path( 'landingpage.png' ) %>" alt="" class="img-responsive">
                      <div class="ImageOverlayLi"></div>
                      <div class="Buttons StyleH">
                          <a href="https://github.com/arcman77/TheHufts" title="Github Link"><span class="bubble border-radius"><i class="fa fa-lg fa-github-alt"></i></span></a>
                          <a href="https://thehufts.herokuapp.com" title="Application Link"><span class="bubble border-radius"><i class="fa fa-lg fa-link"></i></span></a>
                      </div>
                    </div>
                    <div class="meta">
                        <span style="color:#03acdc">Front End</span> <span>| 2015 - 2016</span>
                    </div><!-- end meta -->
                    <div class="blog-title">
                        <h3><a href="#" title="">The Hufts</a></h3>
                    </div><!-- end title -->
                    <div class="blog-desc">
                        <p>The Hufts is currently a stock training platform for stock trading algorithms. The Hufts allows you to upload and backtest your own algorithms against realtime and past time stock data. I’ve been working as the Front End Engineer, with one other engineer building the application. One of the features that I want to highlight, is the data visualization. I used an API High Charts, to help the user have an interactive data visualization experience. I displayed a chart to let the users see their buy and sell points against the actual market, and the other chart I built displays how well your algorithm predicted the actual trends of the stock. </p>
                    </div><!-- end desc -->
              </div><!-- end blog -->
            </div><!-- end col -->
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn first animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="blog-item">
                    <div class="ImageWrapper">
                        <img src="<%= asset_path( 'notester.png' ) %>" alt="" class="img-responsive">
                        <div class="ImageOverlayLi"></div>
                        <div class="Buttons StyleH">
                            <a href="https://github.com/arcman77/Notester" title="Github Link"><span class="bubble border-radius"><i class="fa fa-lg fa-github-alt"></i></span></a>
                            <a href="https://notester.herokuapp.com" title="Application Link"><span class="bubble border-radius"><i class="fa fa-lg fa-link"></i></span></a>
                        </div>
                    </div>
                    <div class="meta">
                        <span style="color:#03acdc">Software Engineer</span> <span>| 2015-2016</span>
                    </div><!-- end meta -->

                    <div class="blog-title">
                        <h3><a href="#" title="">Notester</a></h3>
                    </div><!-- end title -->

                    <div class="blog-desc">
                        <p>Notester is a web application that I’ve been working as a Full Stack Engineer. Notester is an advanced note­-taking tool for users to crowd­source information on specific topics, organized in a hierarchy. I’m responsible for building the Front End/Design. I chose to follow a single‐page design pattern to allow for a simplified UI/UX. Visualized an interactive library of notes and associated subcategories as a graph data structure using D3. The front‐end logic was organizing using Javascript Objects to act as a front end model to handle the creation and saving of notes in the local storage. And also was part of the construction of a highly integrated DB. We used ActiveRecord and PostgreSQL to establish polymorphic associations and self‐referential tables to store users, notes, resources and tags.</p>

                    </div><!-- end desc -->
                </div><!-- end blog -->
            </div> <!-- end col -->
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn last animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="blog-item">
                  <div class="ImageWrapper">
                    <img src="<%= asset_path( 'baceform.png' ) %>" alt="" class="img-responsive">
                    <div class="ImageOverlayLi"></div>
                    <div class="Buttons StyleH">
                        <a href="https://github.com/Vrturo/B.A.C.E." title="Github Link"><span class="bubble border-radius"><i class="fa fa-lg fa-github-alt"></i></span></a>
                        <a href="https://bacestimator.herokuapp.com" title="Application Link"><span class="bubble border-radius"><i class="fa fa-lg fa-link"></i></span></a>
                    </div>
                  </div>
                <div class="meta">
                    <span style="color:#03acdc">Software Engineer</span> <span>| 2015</span>
                </div><!-- end meta -->
                <div class="blog-title">
                    <h3><a href="#" title="">B.A.C.E.(Blood Alcohol Content Estimator)</a></h3>
                </div><!-- end title -->
                <div class="blog-desc">
                    <p>B.A.C.E.(Blood Alcohol Content Estimator) is a web app that uses Uber's API to create an account or log in, and is used to let users know an estimate of what their BAC(blood alcohol content) would be based on an algorithm that takes the amount of fluid ozs of alcohol they've had, their weight, their gender, and the amount of time they've been drinking. If their BAC is too high it recommends they order an Uber ride and get home safely.</p>
                </div><!-- end desc -->
              </div><!-- end blog -->
            </div><!-- end col -->
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn first animated" style="visibility: visible; animation-name: fadeIn;">
              <div class="blog-item">
                <div class="ImageWrapper">
                  <img src="<%= asset_path( 'chatdbc.png' ) %>" alt="" class="img-responsive">
                  <div class="ImageOverlayLi"></div>
                  <div class="Buttons StyleH">
                      <a href="https://github.com/Vrturo/ChatDBC" title="Github Link"><span class="bubble border-radius"><i class="fa fa-lg fa-github-alt"></i></span></a>
                      <a href="https://www.youtube.com/watch?v=aDTxVpSvK6I" title="Application Link"><span class="bubble border-radius"><i class="fa fa-lg fa-link"></i></span></a>
                  </div>
                </div>
                <div class="meta">
                    <span style="color:#03acdc">Software Engineer</span><span>| 2015</span>
                </div><!-- end meta -->
                <div class="blog-title">
                    <h3><a href="#" title="">Chat DBC</a></h3>
                </div><!-- end title -->
                <div class="blog-desc">
                    <p>Chat.DBC is a simple real time messenger web app that uses React on the front end and Ruby on Rails on the back. Multiple users can be logged in and it will auto update their messages without reloading the page. For the front end I used React. I wanted this app to be real time, and the main purpose of this was to get a better feel for React. The components directory holds all the different front end items, and with React it lets you add logic to the Front End like when there's a change in the state of an object. I used Rails on the Back End of this app. I chose Rails because I felt as if Rails' asset pipeline would be a really easy way to manage all of React's components. This is a pretty simple app and the only API I used was the firebase API to let users log in through their Github.</p>
                </div><!-- end desc -->
              </div><!-- end blog -->
            </div> <!-- end col -->
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn last animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="blog-item">
                    <div class="ImageWrapper">
                        <img src="<%= asset_path( 'caltrain.png' ) %>" alt="" class="img-responsive">
                        <div class="ImageOverlayLi"></div>
                        <div class="Buttons StyleH">
                            <a href="https://github.com/Vrturo/DepartureTimes" title="Github Link"><span class="bubble border-radius"><i class="fa fa-lg fa-github-alt"></i></span></a>
                            <a href="https://sfdeparturetimes.herokuapp.com/" title="Application Link"><span class="bubble border-radius"><i class="fa fa-lg fa-link"></i></span></a>
                        </div>
                    </div>
                    <div class="meta">
                        <span style="color:#03acdc">Software Engineer</span><span>| 2015</span>
                    </div><!-- end meta -->

                    <div class="blog-title">
                        <h3><a href="blog-single-sidebar-one.html" title="">Departure Times</a></h3>
                    </div><!-- end title -->

                    <div class="blog-desc">
                        <p>Departure Times is a WebApp that geolocalizes the user and display's his location on a map using the google maps API. Once his location is shown via Google Maps, the user has the option to click a button where it will display markers, on the map, where all the caltrain stops in San Francisco are located. If the user scrolls down he can also see a table that displays all the San Francisco Caltrain stops, where they're headed, and see if there is a departure within the next 90 minutes in real time.</p>

                    </div><!-- end desc -->
                </div><!-- end blog -->
            </div><!-- end col -->
        </div><!-- end blog -->
    </div> <!-- end blog container -->
    <footer id="footer-second" class="footer dark-footer clearfix">
      <div id="contact" class="container">
          <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 square-service">
                    <div class="widget">
                    <span class="icon-container border-radius color-blue wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-map-marker"></i></span>
                    <h3>Location</h3>
                    <p style="color: #fff"><strong>San Francisco, Ca</strong></p>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12 square-service">
                    <div class="widget">
                    <span class="icon-container border-radius color-green wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-phone"></i></span>
                    <h3>Phone Number</h3>
                    <p style="color: #fff;"><strong>Cell Phone: 818-521-2467</strong></p>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12 square-service">
                    <div class="widget">
                    <span class="icon-container border-radius color-purple wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-envelope-o"></i></span>
                    <h3>E-Mail</h3>
                    <p style="color: #fff"><strong>VrturoPerez@gmail.com</strong></p>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12 square-service">
                    <div class="widget">
                      <span class="icon-container border-radius color-red wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-sticky-note"></i></span>
                      <h3>Resume</h3>
                      <a href="<%= asset_path( 'ArturoPerezResume.pdf' ) %>" style="color: #fff;"><strong>Click to View</strong></a>
                      <div class="row">
                        <a href="<%= asset_path( 'ArturoPerezResume.pdf' ) %>" style="color: #fff;" download><strong>Click to Download!</strong></a>
                      </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12">
                      <div class="widget text-center wow fadeIn">
                          <div class="about-widget">
                              <div class="social-icons clearfix">
                                  <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Linked In" href="https://linkedin.com/in/Vrturo"><i class="fa fa-linkedin"></i></a></span>
                                  <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Github" href="https://github.com/Vrturo"><i class="fa fa-github"></i></a></span>
                                  <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Twitter" href="https://twitter.com/vrturoperez"><i class="fa fa-twitter"></i></a></span>
                              </div><!-- end social icons -->
                          </div><!-- end about-widget -->
                      </div><!-- end widget -->
                  </div><!-- end col-lg-3 -->
              </div><!-- end row -->
          </div><!-- end container -->
      </footer><!-- end footer -->

  </div>
  <!-- /#wrapper -->
